/*imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Yeseva+One&display=swap');

/*general settings*/
*{
	margin: 0px;
	padding: 0px;
}
body{
    background-color: #FAF6F0;
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/*heading*/
.title{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1;
    margin: 10% 15% 2%;
}
h1{
    color: #806C62;
    font-family: Yeseva One;
    font-weight: lighter;
    font-size: 6.2rem;
    text-align: center;
}
.pitch{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    display: flex;
    margin: 5% 15%;
}
p{
    color: #806C62;
    font-family: Montserrat;
    font-size: 2.5rem;
}

/*navigation*/
a{
    text-decoration: none;
    color: #806C62;
    font-family: Montserrat;
    font-size: 2.8rem;
}
.navbox{
    text-align: center;
    padding: 22% 10%;
    border-radius: 4.3rem;
}
.purple{
    background-color: #E5D3E8;
}
.green{
    background-color: #E7EABB;
}
.work{
    grid-column: 1/1;
    grid-row: 3;
    margin: 14% 5% 5% 35%;
}
.about{
    grid-column: 2/3;
    grid-row: 3; 
    margin: 14% 35% 5% 5%; 
}
.contact{
    grid-column: 1/2;
    grid-row: 4;  
    margin: 5% 5% 14% 35%;
}
.socials{
    grid-column: 2/3;
    grid-row: 4;
    margin: 5% 35% 14% 5%; 

}
.mobileborder{
    border: 0.9px solid #806C62;
    margin: 20% 30%;
    border-radius: 4.3rem;
    grid-column: 1/3;
    grid-row: 3/5;
    z-index: -1;
}

/*logo placement*/
footer{
    display: flex;
    justify-content: center;

}
.logo{
    width: 295px;
    padding: 1rem;
    margin-top: 7%;
    margin-bottom: 4%;
}

/*desktop responsive*/
@media (min-width:992px){

    /* web general settings*/
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    /*web heading*/
    .title{
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 40% 5% 5% 5%;
    }
    h1{
        font-size: 3.5rem;
        font-weight: lighter;
    }
    .pitch{
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 100% 5% 20% 5%;
    }
    p{
        font-size: 1.2rem;
    }

    /*web navigation*/
    a{
        font-size: 1.5rem;
    }
    .navbox{
        border-radius: 52px;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 17%;
    }
    .work{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 10% 45% 95% 10%;
    }
    .about{
        grid-column: 3/4;
        grid-row: 1/2; 
        margin: 10% 10% 95% 45%; 
    }
    .contact{
        grid-column: 1/2;
        grid-row: 2/3; 
        margin-top: 0;
        margin-bottom: 18%;
        margin-right: 28%;
        margin-left: 26%;
    }
    .socials{
        grid-column: 3/4;
        grid-row: 2/3; 
        margin-top: 0;
        margin-bottom: 18%;
        margin-left: 28%;
        margin-right: 26%;
    
    }

    /*web boxes*/
    .borderbox{
        border: 0.1px solid #806C62;
        margin: 20% 30%;
        border-radius: 2rem;
    }

    /*work*/
    .workbox{
        grid-column: 1/3;
        grid-row: 1/2;
        z-index: -1;
        margin: 15% 45% 28% 15%;
    }
    .worklist{
        margin: 10% 10% 10% 63%;
        line-height: 2.5rem;
    }

    /*about*/
    .aboutbox{
        grid-column: 2/4;
        grid-row: 1/2;
        z-index: -1;
        margin: 15% 15% 28% 45%;
    }
    .profile{
        max-width: 7rem;
        border-radius: 1.7rem;
        margin: 10% 50% 10% 10%;
    }

    /*contact*/
    .contactbox{
        grid-column: 1/3;
        grid-row: 1/3;
        z-index: -1;
        margin: 55% 50% 20% 20%;
    }
    .contactlist{
        margin: 10% 15% 10% 42%;
        line-height: 2.5rem;
    }

    /*socials*/
    .socialsbox{
        grid-column: 2/4;
        grid-row: 1/3;
        z-index: -1;
        margin: 55% 20% 20% 50%;
    }
    .socialslist{
        margin: 10% 42% 10% 10%;
        line-height: 2.5rem;
    }

    /*web logo placement*/
    .logo{
        width: 200px;
        padding: 0;
        margin-top: 0%;
        margin-bottom: 4%;
    }

    /*hide for web*/
    .mobileborder{
        display: none;
    }

}

/*hide for mobile*/
@media (max-width:992px){
    .borderbox{
        display: none;
    }
}